*{
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  color: #555555;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
.container {
  width: 100vw;
  padding-right: 5vw;
  padding-left: 5vw;
  margin-right: auto;
  margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
}
.column-8{
    position: relative;
    width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.title-text{
    border-left: 3px solid #2eca6a;
    padding: 1rem 0 1rem 2rem; 
}
h1{
    margin-bottom: .5rem;
    margin-top: 0;
    font-family: inherit;
    line-height: 1.2;
    color: #000000;
    display: block;
}
.column-4{
    position: relative;
    width: 20%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.breadcrumb-box{
    padding: 1rem 0 0 .5rem;
    display: flex!important;
    justify-content: flex-end!important; 
}
.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: .25rem;
    background-color: transparent;
    padding-right: 0;
    padding-left: 0;
}
ol {
    margin-top: 0;
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


@media screen and (min-width: 992px){
    
    .title{
        font-size: 2.5rem;
    }
    
}
@media screen and (min-width: 768px){
    
    .title{
        font-size: 2.1rem;
    }
}
@media screen and (min-width: 576px){
   
    .title{
        font-size: 2.2rem;
    }
}