* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  min-height: 8vh;
  background-color: white;
  width: 100%;
  margin: auto;
  box-shadow: 5px 8px 10px 3px #888888;
}

.sticky {
  display: flex;
  position: fixed;
  margin: auto;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 5px 8px 10px 3px #888888;
}

.logo {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 8vh;
  width: 25%;
}

.logo-img {
  height: 8vh;
  margin: auto;
  padding-right: 7vw;
  padding-top: 1vh;
}

.lang_select {
  display: flex;
  justify-content: space-around;
  width: 5%;
  margin: auto;
  padding-right: 2vw;
}

.lang_select a {
  text-decoration: none;
  color: black;
  font-size: 1.6vh;
  padding-left: 1vw;
}

.lang_select a:hover {
  transform: translateY(-0.5vh);
  text-decoration: underline;
  color: #163a24;
}

.about li.aboutlink a,
.activity li.activitylink a,
.cooperation li.cooperationlink a,
.blog li.bloglink a,
.contacts li.contactslink a {
  color: rgb(19, 12, 12);
  background: #88aa51;
  border: 0.1vw solid transparent;
  padding: 0.7vh;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  border-bottom: 2px solid #072c15;
  padding-bottom: 10px;
}

.tel {
  letter-spacing: 0.1vw;
  color: #072c15;
  font-size: 1vw;
}

@media screen and (max-width:900px) {
  .tel {
    font-size: 3vh;
  }
}

@media screen and (max-width:500px) {
  .tel {
    font-size: 10vh;
  }
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

.intro {
  margin-top: 8vh;
}

.intro-f1 {
  font-family: Helvetica, sans-serif;
  font-size: 2vh;
  text-align: center;
  color: #06160c;
  padding-top: 2vh;
  font-weight: lighter;
}

.intro-f2 {
  font-size: 4vh;
  text-align: center;
  color: #092012;
  margin-top: 1vh;
  padding-top: 2px;
}

#slidy-container {
  width: 90%;
  overflow: hidden;
  border: 0.2vw solid #072c15;
  box-shadow: 5px 8px 10px 3px #888888;
}

.sec_text .more {
  width: 90%;
  margin-left: 1vw;
  font-size: 1.3vw;
  text-align: left;
  font-weight: bold;
}

@media screen and (max-width:1600px) {
  .logo-img {
    height: 8vh;
    margin: auto;
    padding-right: 5vw;
  }
}

@media screen and (max-width:1200px) {
  body {
    overflow-x: hidden;
  }

  .logo-img {
    height: 6.5vh;
    margin: auto;
    padding-right: 7vw;
  }

  .lang_select {
    display: flex;
    width: 10%;
    padding: 0 2vw;
    margin-left: 2vw;
  }

  .tel {
    color: black;
    font-size: 2vw;
  }

  .lang_select a {
    text-decoration: none;
    color: black;
    font-size: 1.2vh;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 999;
  }

  .nav-links li {
    opacity: 1;
  }

  .nav-links a {
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .burger {
    display: block;
    margin: auto;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 12px;
    padding: 7px 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: auto;
    margin: auto;
    padding: 10px;
  }

  .main_text .about {
    width: 90%;
    padding: 10px;
    margin: auto;
    text-align: justify;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-indent: 20px;
    font-family: Helvetica, sans-serif;
  }

  .main_text .results {
    width: 90%;
    padding: 10px;
    margin: auto;
    text-align: justify;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-indent: 20px;
    font-family: Helvetica, sans-serif;
  }

  .main_purpose p {
    width: 90%;
    padding: 5px;
    margin: auto;
    text-align: left;
    font-size: 2vh;
    letter-spacing: 0.2vw;
    font-weight: bolder;
    color: #1b201d;
  }

  .list {
    font-size: 15px;
  }

  .galary,
  .founders {
    margin-left: 20px;
  }

  .activity h1,
  .galary h1,
  .founders h1 {
    width: 90%;
    padding: 10px;
    text-align: left;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: lighter;
  }

  .accordion button {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 10px;
    transition: 0.4s;
    border-bottom: 1px solid #2eca6a;
  }

  .panel {
    padding: 0 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .panel ul li {
    text-align: left;
    margin-left: 10px;
  }

  .panel ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }

  .panel ul li a:hover {
    color: rgb(26, 65, 26);
    text-decoration: underline;
  }

  .fa-laptop,
  .fa-desktop,
  .fa-gamepad,
  .fa-language {
    padding: 7px 8px;
    border: 2px solid black;
    border-radius: 10px;
  }

  .prev,
  .next,
  .text,
  .text-a {
    font-size: 17px
  }
}

@media screen and (max-width:810px) {
  .more i {
    font-size: 1.5vw;
  }
}

@media screen and (max-width:700px) {
  .more i {
    font-size: 1.8vw;
  }
  .tel{
    font-size: 3vw;
  }
}

@media screen and (max-width:582px) {
  .more i {
    font-size: 2.6vh;
    color: #035a5a 
  }
  .more{
    padding-left: 2vw;
  }
  .tel{
    font-size: 2.8vw;
  }
}

@media screen and (max-width:400px) {
  body {
    overflow-x: hidden;
  }

  .logo-img {
    height: 8vh;
    margin: auto;
    padding-left: 1vw;
  }

  .lang_select {
    display: flex;
    width: 20%;
    padding: 0 2vw;
    margin-left: 2vw;
  }

  .intro-f2 {
    font-size: 2vh;
  }

  .lang_select a {
    text-decoration: none;
    color: black;
    font-size: 2vh;
  }
  
  .nav-links {
    height: 92vh;
    top: 8vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 999;
  }

  .nav-links li {
    opacity: 1;
  }

  .nav-links a {
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .burger {
    display: block;
    margin: auto;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 12px;
    padding: 7px 5px;
  }
  .tel{
    font-size: 5vw;
  }
  .prev,
  .next {
    font-size: 7px;
  }

  .main_text .about {
    width: 90%;
    padding: 10px;
    margin: auto;
    text-align: justify;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: lighter;
    text-indent: 20px;
    font-family: Helvetica, sans-serif;
  }

  .main_purpose p {
    width: 98%;
    margin-left: 0.5vw;
    text-align: left;
    font-size: 2.5vh;
    letter-spacing: 0.3vw;
    font-weight: bolder;
    color: #1c241f;
  }

  .list {
    font-size: 12px;
  }

  .activity,
  .galary,
  .founders {
    left: 0;
  }

  .activity h1,
  .galary h1,
  .founders h1 {
    width: 90%;
    padding: 5px;
    text-align: left;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: lighter;
  }

  button b,
  button i {
    font-size: 12px;
  }

  .panel {
    padding: 0 8px;

  }

  .panel ul li {
    font-size: 5px;

  }

  .fa-laptop,
  .fa-desktop,
  .fa-gamepad,
  .fa-language {
    padding: 5px 7px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .row .column {
    width: 100%;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(150px);
  }

  to {
    opacity: 1;
    transform: translateX(100px);
  }
}

.toggle .line1 {
  transform: rotate(-225deg) translate(5px, -6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(225deg) translate(5px, 6px);
}

img {
  vertical-align: middle;
}

.container {
  position: relative;
  width: 92%;
  margin: auto;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 1.2vh;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row_img {
  width: 90%;
  margin: auto;
}

.row_img-i {
  width: 100%;
  margin: auto;
}

.row_img-i:after {
  content: "";
  display: table;
  clear: both;
}

.column-i {
  float: left;
  width: 16%;
  margin-right: 0.8%;
  border: 1px solid #2b9c57;
}

.column {
  float: left;
  width: 16%;
}

.column a img {
  box-shadow: 5px 8px 10px 3px #888888;
}

.column-i:last-child {
  margin-right: 0;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.main_text {
  width: 90%;
  padding: 10px;
  margin: auto;
  text-align: justify;
  font-size: 2.5vh;
  letter-spacing: 0.1vw;
  font-weight: lighter;
  text-indent: 70px;
  font-family: Helvetica, sans-serif;
}

.sec_text {
  width: 90%;
  margin-left: 7vw;
  border-left: 0.2vw solid #072c15;
  font-size: 1.2vw;
  text-align: left;
  padding: 1vh 0 1vh 1vw;
  font-weight: lighter;
}

.main_purpose {
  width: 90%;
  padding: 10px;
  margin: auto;
  text-align: justify;
  font-size: 1.1vw;
  letter-spacing: 0.1vw;
  font-weight: lighter;
  color: #2e3330;
}

.net {
  right: 2vw;
}

.fa-facebook-square,
.fa-video-camera {
  padding: 1vw;
  width: 4vw;
  text-align: center;
  text-decoration: none;
  margin: auto;
  color: rgb(4, 6, 14);
}

.fa-facebook:hover {
  transform: scale(1.2);
  border-bottom: 0.1vh solid #2eca6a;
}

.list {
  padding-left: 6vw;
  color: #090e0b;
}

.our_activity,
.our_galary,
.our_founders {
  font-size: 3.4vh;
  padding-left: 5vw;
}
.mb-1{
  font-size: 2vh;
}
@media screen and (max-width:1200px) {

  .our_activity,
  .our_galary,
  .our_founders {
    font-size: 2.5vh;
  }
  .mb-1{
    font-size: 1.5vw;
  }
}

@media screen and (max-width:650px) {

  .our_activity,
  .our_galary,
  .our_founders {
    font-size: 3vh;
  }
  .end{
    margin-top:8vh;
  }
  .mb-1{
    font-size: 3.2vw;
    font-weight: bolder;
  }
}



.accordion {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 1vw;
  width: 100%;
  border: none;
  text-align: left;
  vertical-align: middle;
  outline: none;
  font-size: 2.5vh;
  transition: 0.4s;
  margin-bottom: 2vh;
  margin-top: 1vh;
  height: 7vh;
  border-radius: 2vh;
  box-shadow: 5px 8px 10px 3px #888888;
}

.active,
.accordion:hover {
  background-color: rgb(194, 216, 189);
}

.panel {
  padding: 0;
  margin: 0 1vw;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel ul li {
  text-align: left;
  margin-left: 1vw;
}

.panel ul li a {
  text-decoration: none;
  color: black;
  font-size: 2vh;
}

.panel ul li a:hover {
  color: rgb(26, 65, 26);
  text-decoration: underline;
}

.fa-laptop,
.fa-desktop,
.fa-gamepad,
.fa-language {
  padding: 0.5vw 1vw;
  margin-right: 1vw;
  border: 2px solid black;
  border-radius: 0.5vw;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-bottom: 1vw;
  border-bottom: 0.2vw solid #2b9c57;
}

.row_f {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.row_t {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  border-bottom: 5px solid #2eca6a;
}

.column-f {
  width: 30%;
  margin: auto;
  overflow: hidden;
}

.content {
  width: 40%;
  margin: auto;
}

.container-f {
  position: relative;
  width: 90%;
  box-shadow: 2px 8px 10px 3px #888888;
}

.imge {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container-f:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text-f {
  width: 90%;
  color: black;
  font-size: 1.5vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: justify;
}
.text-act1{
  width: 168%;
}
.text-act2{
  width: 75%;
}
.text-act3{
  width: 255%;
}

@media screen and (max-width:1450px) {

  .column-f {
    width: 40%;
    margin: auto;
    overflow: hidden;
  }
  .container-f {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width:980px) {
  .column-f {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .text-act1,
  .text-act2,
  .text-act3{
    width: 100%;
  }
}

@media screen and (max-width:900px) {}

@media screen and (max-width:780px) {
  .row_f {
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width:400px) {
  .row_f {
    display: flex;
    flex-direction: column;
  }

  .column-f {
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding: 1.8vh;
    text-align: center;
  }
  .imge{
    width: 100%;
    margin: auto;
  }
  .overlay {
    bottom: 100%;
  }
  .text-f h3{
    font-size: 2.6vh;
  }
  .text-f .text_ab2{
    font-size: 2.5vh;
    font-style: italic;
    text-align: center;
  }
  .text-f .text_ab3{
    font-size: 2vh;
    font-style: italic;
    font-weight: bolder;
  }
}

.team {
  width: 10%;
}

.team a {
  text-decoration: none;
  padding-right: 20px;
  font-size: 2vh;
  color: #000;
}

.right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.row-footer {
  display: flex;
  justify-content: space-around;
  color: black;
}

.partners ul li a {
  text-decoration: none;
  color: black;
}

.references ul li a {
  text-decoration: none;
  color: black;
}

.foot-line {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  color: black;
}

.nav-foot a {
  text-decoration: none;
  color: black;
  letter-spacing: 2px;
}

.nav-foot a:hover {
  transform: translateY(-0.5vh);
  border-bottom: 0.1vw solid #242c16;
  color: #163a24;
}

.about .about-f a,
.activity .activity-f a,
.cooperation .cooperation-f a,
.blog .blog-f a,
.contacts .contacts-f a {
  color: rgb(19, 12, 12);
  background: #88aa51;
  border: 0.1vw solid transparent;
  padding: 0.7vh;
}

.foot-nets {
  width: 20%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.foot-nets a {
  color: black;
  font-size: 18px;
}

.foot-nets a:hover {
  color: #2eca6a;
  font-size: 19px;
}

.copy-right,
.design {
  text-align: center;
  padding-top: 3px;
}

@media screen and (max-width:980px) {
  .row-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .contact,
  .parrtners,
  .references {
    width: 80%;
  }

  .foot-line {
    width: 80%;
  }
  .nav-foot a {
    font-size: 2vh;
    letter-spacing: 0;
  }
}

@media screen and (max-width:450px) {

  .nav-foot{
    height: 5vh;
  }
  .nav-foot a{
    font-size: 2.5vh;
    font-weight: bolder;
  }

  .contact,
  .parrtners,
  .references {
    width: 90%;
  }

  .foot-line {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .foot-nets {
    width: 80%;
  }

  .foot-nets a {
    font-size: 12px;
  }

  .copy-right,
  .design {
    font-size: 7px;
  }

  .team {
    width: 100%;
    margin: auto;
    text-align: right;
  }
}


.mission {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.mission-col_1 {
  padding-left: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-left: 5px solid #2eca6a;
}

.title_1 {
  font-size: 1.5vw;
  margin-top: 8vh;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs li::before {
  content: '/';
  margin-left: 1vw;
  margin-right: 1vw;
  color: #7f7f7f;
}

.breadcrumbs li:first-child::before {
  content: '';
}

.breadcrumbs li a {
  text-decoration: none;
  font-size: 1vw;
  color: #000;
}

@media screen and (max-width:950px) {
  .breadcrumbs li a {
    font-size: 2vw;
  }
}

@media screen and (max-width:450px) {
  .breadcrumbs li a {
    font-size: 2.5vw;
  }
}

.breadcrumbs li a:hover {
  padding-bottom: 0.5vh;
  border-bottom: 1px solid #2eca6a;
  color: rgb(68, 95, 78);
}

.main-img {
  width: 70%;
  margin: auto;
  padding-left: 2vw;
}

.bg-img {
  position: relative;
}

.contain {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}
.contain-p{
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between; 
}
.col-img {
  width: 100%;
}
.col-img img{
  box-shadow: 5px 8px 10px 3px #888888;
  margin-top: 2.5vh;
}
.col-img a{
  margin: auto;
}
.col-img-p{
  width: 100%;
  text-align: center;
}
.col-imge {
  width: 100%;
  margin: auto;
}
.ttl{
  width: 60%;
  margin-left: 6vw;
  padding-left: 2.5vw;
  border-left: 0.2vw solid #072c15;
  margin-top: 2vh;
}
.title_2 {
  font-size: 3.5vh;
}

.brain {
  color: #2b9c57;
  padding-top: 2vh;
}

.end {
  margin-top: 9vh;
}
.text-about{
  padding-left: 0.5vw;
}

@media screen and (max-width:1200px) {

  .title_2 {
    font-size: 2.5vh;
  }

}

@media screen and (max-width:650px) {
  .title_2 {
    font-size: 3vh;
    font-weight: bold;
  }

  .end {
    margin-top: 8.8vh;
  }
}

.line {
  width: 40%;
  height: 0.5vh;
  background: #2b9c57;
}

.text_ab {
  text-align: justify;
  font-size: 1.1vw;
  padding-top: 1vh;
  font-weight: lighter;
}

.text_ab2 {
  width: 90%;
  margin: auto;
  text-align: justify;
  font-size: 1.1vw;
  font-weight: lighter;
}
.text_ab3 {
  width: 90%;
  margin: auto;
  text-align: justify;
  font-size: 1vw;
  font-weight: lighter;
}

.list_ab {
  width: 90%;
  margin: auto;
  text-align: justify;
  font-size: 1.1vw;
  padding-left: 2vw;
  font-weight: lighter;
}
@media screen and (max-width:350px) {
  .text_ab {
    font-size: 2vh;
  }

  .text_ab2 {
    font-size: 2vh;
  }

  .text_ab3 {
    font-size: 2vh;
  }
}
@media screen and (max-width:950px) {
  .text_ab {
    font-size: 2.5vh;
    padding-top: 2vh;
    font-weight: bolder;
  }

  .text_ab2 {
    font-size: 2.5vh;
    font-weight: bolder;
  }

  .text_ab3 {
    font-size: 1.5vh;
  }

  .list_ab {
    font-size: 2.5vh;
    font-weight: bolder;
  }

  .contain {
    flex-direction: column;
    width: 90%;
  }
  iframe{
    margin: auto;
    height: 50vh;
  }
  .col-img {
    width: 100%;
  }
  .col-img-p{
    width: 100%;
    text-align: center;
  }
  .col-imge {
    width: 100%;
  }
}

.gal {
  border: 1px solid #ddd;
  border-radius: 0.5vh;
}

.gal:hover {
  z-index: 9999;
  transform: scale(2);
  box-shadow: 5px 8px 10px 3px #351f1f;
}

@media screen and (max-width:950px) {
  .action {
    font-size: 1vh;
  }

}

.help {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding-top: 7vh;
  min-height: 45vh;
  background: #fff;
}

@media screen and (max-width:950px) {
  .help {
    flex-direction: column;
  }

  .title_1 {
    font-size: 2vh;
  }
  
  .text_ab3 {
    font-size: 1.8vh;
  }
}

#fname,
#email,
#phone,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=number] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #2eca6a;
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 2vh;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container_form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


section {
  text-align: center;
  padding: 1.5em 1em;
}

.header {
  width: 960px;
  margin: 1em auto;
  text-align: center;
  border-bottom: 2px solid rgba(29, 29, 29, 0.6);
  padding: 1em;
}

.header h1 {
  margin-bottom: 0.25em;
  font-weight: 600;
  text-transform: uppercase;
}

.header a {
  text-decoration: none;
  color: #1d1d1d;
  font-weight: 700;
  transition: all 0.35s ease-in-out;
}

.header a:hover {
  color: #e99041;
}

.row {
  width: 90%;
  margin: 0 auto;
}

.heading {
  margin-bottom: 1em;
}

.figure {
  background: #1d1d1d;
  display: inline-block;
  margin: 10px;
  max-width: 380px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.figure * {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.section-6 {
  background: #fff;
  color: rgb(255, 251, 251);
}

.section-6 .figure {
  text-align: left;
  background: #1d1d1d;
  font-size: 16px;
}

.section-6 .figure img {
  position: relative;
  max-width: 100%;
  vertical-align: center;
  object-fit: cover;
}

.section-6 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}

.section-6 .figure figcaption:before,
.section-6 .figure figcaption:after {
  width: 1px;
  height: 0;
}

.section-6 .figure figcaption:before {
  right: 0;
  top: 0;
}

.section-6 .figure figcaption:after {
  left: 0;
  bottom: 0;
}

.section-6 .figure h3,
.section-6 .figure p {
  line-height: 1.5em;
}

.section-6 .figure h3 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-6 .figure p {
  font-size: 0.8em;
  font-weight: 400;
  margin: 0 0 15px;
}

.section-6 .figure a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.section-6 .figure:before,
.section-6 .figure:after,
.section-6 .figure figcaption:before,
.section-6 .figure figcaption:after {
  position: absolute;
  content: '';
  background-color: #efefef;
  z-index: 1;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
  opacity: 0.8;
}

.section-6 .figure:before,
.section-6 .figure:after {
  height: 1px;
  width: 0%;
}

.section-6 .figure:before {
  top: 0;
  left: 0;
}

.section-6 .figure:after {
  bottom: 0;
  right: 0;
}

.section-6 .figure:hover img,
.section-6 .figure.hover img {
  opacity: 0.4;
}

.section-6 .figure:hover figcaption:before,
.section-6 .figure.hover figcaption:before,
.section-6 .figure:hover figcaption:after,
.section-6 .figure.hover figcaption:after {
  height: 100%;
}

.section-6 .figure:hover figcaption {
  opacity: 1;
}

.section-6 .figure:hover:before,
.section-6 .figure.hover:before,
.section-6 .figure:hover:after,
.section-6 .figure.hover:after {
  width: 100%;
}

.section-6 .figure:hover:before,
.section-6 .figure.hover:before,
.section-6 .figure:hover:after,
.section-6 .figure.hover:after,
.section-6 .figure:hover figcaption:before,
.section-6 .figure.hover figcaption:before,
.section-6 .figure:hover figcaption:after,
.section-6 .figure.hover figcaption:after {
  opacity: 0.1;
}

.blog-card {
  width: 90%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 5px 8px 10px 3px #888888;
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
}

.blog-card a {
  color: inherit;
}

.blog-card a:hover {
  color: #5ad67d;
}

.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
  width: 90%;
  position: relative;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.blog-card .details a {
  text-decoration: dotted underline;
}

.blog-card .details ul li {
  display: inline-block;
}

.blog-card .details .author:before {
  font-family: Helvetica, sans-serif;
  margin-right: 10px;
  content: "\f007";
}

.blog-card .details .date:before {
  font-family: Helvetica, sans-serif;
  margin-right: 10px;
  content: "\f133";
}

.blog-card .details .tags ul:before {
  font-family: Helvetica, sans-serif;
  content: "\f02b";
  margin-right: 10px;
}

.blog-card .details .tags li {
  margin-right: 2px;
}

.blog-card .details .tags li:first-child {
  margin-left: -4px;
}

.blog-card .description {
  padding: 1rem;
  padding-left: 2vw;
  padding-right: 2vw;
  background: #fff;
  position: relative;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-family: Helvetica, sans-serif;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
  padding-left: 2vw;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}

.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: Helvetica, sans-serif;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 0.3vh;
  background: #0f2014;
  width: 10vw;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card:hover .details {
  left: 0%;
}

@media (min-width: 950px) {
  .blog-card {
    flex-direction: row;
    max-width: 90%;
     height: 40vh;
  }
}


@media (min-width: 650px) {
  .blog-card {
    flex-direction: row;
    max-width: 90%;
  }

  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }

  .blog-card .description {
    flex-basis: 60%;
  }

  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
  }

  .blog-card.alt {
    flex-direction: row-reverse;
  }

  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }

  .blog-card.alt .details {
    padding-left: 25px;
  }
}

.blog-card-b {
  width: 90%;
  height: 115vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 5px 8px 10px 3px #888888;
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
}

.blog-card-b a {
  color: inherit;
}

.blog-card-b a:hover {
  color: #5ad67d;
}

.blog-card-b:hover .photo {
  transform: scale(1.3) rotate(3deg);
}

.blog-card-b .meta {
  width: 90%;
  position: relative;
  height: 200px;
}

.blog-card-b .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.blog-card-b .details,
.blog-card-b .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-card-b .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.blog-card-b .details a {
  text-decoration: dotted underline;
}

.blog-card-b .details ul li {
  display: inline-block;
}

.blog-card-b .details .author:before {
  font-family: Helvetica, sans-serif;
  margin-right: 10px;
  content: "\f007";
}

.blog-card-b .details .date:before {
  font-family: Helvetica, sans-serif;
  margin-right: 10px;
  content: "\f133";
}

.blog-card-b .details .tags ul:before {
  font-family: Helvetica, sans-serif;
  content: "\f02b";
  margin-right: 10px;
}

.blog-card-b .details .tags li {
  margin-right: 2px;
}

.blog-card-b .details .tags li:first-child {
  margin-left: -4px;
}

.blog-card-b .description {
  padding: 1rem;
  padding-left: 2vw;
  padding-right: 2vw;
  background: #fff;
  position: relative;
}

.blog-card-b .description h1,
.blog-card-b .description h2 {
  font-family: Helvetica, sans-serif;
}

.blog-card-b .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
  padding-left: 2vw;
}

.blog-card-b .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card-b .description .read-more {
  text-align: right;
}

.blog-card-b .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}

.blog-card-b .description .read-more a:after {
  content: "\f061";
  font-family: Helvetica, sans-serif;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}

.blog-card-b .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-card-b p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card-b p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card-b p:first-of-type:before {
  content: "";
  position: absolute;
  height: 0.3vh;
  background: #0f2014;
  width: 10vw;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card-b:hover .details {
  left: 0%;
}

@media (min-width: 950px) {
  .blog-card-b {
    flex-direction: row;
    max-width: 90%;
     height: 40vh;
  }
}


@media (min-width: 650px) {
  .blog-card-b {
    flex-direction: row;
    max-width: 90%;
  }

  .blog-card-b .meta {
    flex-basis: 40%;
    height: auto;
  }

  .blog-card-b .description {
    flex-basis: 60%;
  }

  .blog-card-b .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
  }

  .blog-card-b.alt {
    flex-direction: row-reverse;
  }

  .blog-card-b.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }

  .blog-card-b.alt .details {
    padding-left: 25px;
  }
}

.color-a {
  color: #175a31;
}
.accord-ab {
  margin-left: 5vw;
  color: black;
  cursor: pointer;
  padding: 2vh;
  width: 90%;
  text-align: center;
  background-color: white;
  border: none;
  outline: none;
  font-size: 1vw;
  transition: 0.4s;
}
.act-ab,
.accord-ab:hover {
  color: #18502d;
  border-bottom: 0.2vh solid #0f2014;
}

.act-ab:after {
  content: "▲";
  font-size: 1vh;
  color: #18502d;
}

.panel-ab {
  padding: 0;
  display: none;
  background-color: white;
  overflow: hidden;
}
@media (min-width: 1100px) {
  .accord-ab {
    width:7%;
  }

}
@media (min-width: 970px) {
  .accord-ab {
    width: 10%;
  }
  
}
@media (min-width: 400px) {
  .text-accord {
    font-size: 2vw;
  }
}
@media (min-width: 300px) {
  .text-accord {
    font-size: 2vw;
  }
  .act-ab:after {
    font-size: 3vw;
  }
}